.btn{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-size: 1rem;
    min-width: 15rem;
    justify-content: center;
}

.btnn{
      background-color: white;
        color: black;
        padding: 0.5rem 5rem;
        border-radius: 1rem;
        display: flex;
        gap: 0.6rem;
        align-items: center;
        font-size: 1rem;
        min-width: 32rem;
        justify-content: center;
}